@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  } 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,ol {
  list-style: none;
}

.container {
  width: 1440px ;
  margin-left: auto;
  margin-right: auto;
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-image: url(../img/bg.jpg);
}


.intro-content {
  width: 525px ;
  margin-left: 160px;
}

.intro-title {
  color: #fff;
font-size: 50px;
font-weight: 700;
line-height: 55px;
letter-spacing: -0.521px;
margin-bottom: 11px;
margin-top: 290px;
}

.intro-text {
  color: #fff;
font-size: 16px;
font-weight: 500;
line-height: 26px;
margin-bottom: 290px;
}

.introduction {
  margin-right: 165px;
}

.intro-btn {
  color: #FFF;
text-align: center;
font-size: 15px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0.268px;
border-radius: 10px;
background: #5E54A4;
box-shadow: 0px 8px 0px 0px #00000026;
padding: 17px 110px;
margin-bottom: 24px;
}

.unactive {
  color: #FFF;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 26px;
letter-spacing: 0.268px;
}

.registration {
  border: transparent;
  border-radius: 10px;
  background-color: #FFF;
  box-shadow:0px 8px 0px 0px #00000026;
  padding: 40px;
}

.input {
  width: 460px;
  height: 56px;
  border-radius: 5px;
  border: 1px solid #DEDEDE;
  background-color: #FFF;
  margin-bottom: 20px;
  padding: 15px 0 15px 32px;
  color: #3D3B48;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.25px;
}

.input::placeholder{
  color: #3D3B48;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.25px;
  opacity: 0.75;
}

.button {
  border: transparent;
  border-radius: 5px;
background: #38CC8B;
box-shadow: 0px -4px 0px 0px #00000017 inset;
width: 460px;
color: #FFF;
font-size: 15px;
font-weight: 600;
line-height: 26px;
letter-spacing: 1px;
padding: 15px 0;
margin-bottom: 8px;
}

.input-text {
  color: #BAB7D4;
text-align: center;
font-size: 11px;
font-weight: 500;
line-height: 26px;
}

.active {
  color: #FF7979;
font-size: 11px;
font-weight: 700;
line-height: 26px;
}